*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#3d588134;
    --secondary-color:#eef7ff;
    --font-header-color:#dd3334;
    --font-color:#898989;

}
body{
    background: linear-gradient(270deg,#5862b0,cyan);
    font-family: sans-serif;
}
.page{
    padding: 20px;
    
}
.page .title{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    
}
.report{
    margin: auto;
}
.local{
    background-color: var(--main-color);
    /* height: 400px; */
    box-shadow: 0px 0px 10px #5862b098;
    color: white;
}
.sea{
    /* height: 400px; */
    background-color: var(--main-color);
    box-shadow: 0px 0px 10px #5862b098;
    color: white;
}
.sea > p{
    text-transform: uppercase;
    color: rgb(223, 217, 252);
}
.sea > p > span{
    text-transform: uppercase;
    color: rgba(223, 217, 252, 0.425);
}
.weather-header{
    border-bottom:1px solid white ;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.days{
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px #5862b098;
    margin: auto;
}
.days > div{
    border-right: 1px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    height: 400px;
    align-items: center;
}
@media(max-width:767px){
    .days > div{
        border-right:none;
        box-shadow: 0px 0px 10px #5862b098;
     background-color: var(--main-color);
    }
    .days{
        background-color: transparent;
        box-shadow: none;
        gap: 10px;
    }
}
.days div:last-child{
    border-right: none;
}
.card-body{
    height: 90%;
}
.wether-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 10px;
}
.wether-flex > div{
    text-align: center;
}
.days > div h3{
    font-size: 20px;
   font-weight: bold;
}
.days > div img{
    width: 150px;
}